@model IEnumerable<COMPUTERMANAGEMENT_MODEL.FacturaModel>

@{
    ViewBag.Title = "FacturaList";
}

<h2>Lista de facturas</h2>

<p>
    @Html.ActionLink("Agregar factura", "factura")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garantia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garantia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProveedorM.Proveedor)
        </td>
    </tr>
}

</table>
