@model COMPUTERMANAGEMENT_MODEL.FacturaModel

@{
    ViewBag.Title = "Factura";
}

@section MyScripts{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.js")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.css")
    <script>
        $(function () {
            $('.datepick').each(function () {
                $(this).datepicker({ dateFormat: 'yy/mm/dd', showSecond: false })
            }
            )
        });
    </script>
}
<h2>Factura</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Custom/FacturaController.js"></script>

    <div class="form-horizontal" ng-app="Factura" ng-controller="FacturaController" ng-init="init()">
        <h4>FacturaModel</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Factura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Factura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Factura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="datepick form-control" id="fecha" name="fecha" />
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Garantia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="datepick form-control" id="garantia" name="garantia" />
                @Html.ValidationMessageFor(model => model.Garantia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Proveedor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select ng-model="proveedor"
                        ng-options="proveedor.IdProveedor as proveedor.Proveedor for proveedor in listaProveedores track by proveedor.IdProveedor"
                        name="Proveedor" class="form-control">
                    <option value="">Seleccione Proveedor</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ir a la lista", "FacturaList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
