@model COMPUTERMANAGEMENT_MODEL.AsignacionModel

@{
    ViewBag.Title = "Asignar equipo";
}

<h2>Asignar equipo a usuario</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Custom/AsignarController.js"></script>
    <div class="form-horizontal" ng-app="Equipo" ng-controller="EquipoAsignarController" ng-init="init()">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Equipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Equipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Equipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                search<input type="text" ng-model="search">
                <br>
                <select ng-model="usuario"
                        ng-options="usuario.IdUsuario as usuario.NombreCompleto for usuario in listaUsuarios track by usuario.IdUsuario | filter:search"                        
                        name="Usuario" class="form-control">
                    <option value="">Seleccione un usuario</option>
                </select>                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombreEquipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreEquipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreEquipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
